{% load static %}


<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">Alsancak,Izmir</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@yourdomain.com">info@hisports.com</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="/"><img src="\uploads\images\log.jpg" alt="logo" ></a> </div>
          <!-- logo end -->
        </div>


        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->

          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" href="/">Home</a>  </li>


                <li><a href="/hakkimizda">About Us</a></li>
                <li> <a href="/referanslar">References</a>

                </li>
                <li> <a href="">Blog</a>
                  <ul>
                    <li><a href="#">Blog List</a></li>
                    <li><a href="#">Blog Grid</a></li>
                    <li><a href="#">Blog Detail</a></li>
                  </ul>
                </li>
                <li> <a href="#">Pages</a>
                  <ul>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Error 404</a></li>
                  </ul>
                </li>
                <li> <a href='#'>Sports Packages</a>
                  <ul>
                    <li><a href='#'>Body Building</a>
                        <ul>
                            <li><a href='#'>Fitness</a></li>
                            <li><a href='#'>Pilates</a></li>
                            <li><a href='#'>Yoga</a></li>
                        </ul>
                    </li>
                    <li><a href='#'>Fighting Sports</a>
                        <ul>
                            <li><a href='#'>Boxing</a></li>
                            <li><a href='#'>Judo</a></li>
                            <li><a href='#'>Karate</a></li>
                            <li><a href='#'>Tae-kwon-do</a></li>
                            <li><a href='#'>Wing Chun</a></li>
                         </ul>
                    </li>
                    <li><a href='#'>Dance</a>
                        <ul>
                            <li><a href='#'>Ballet</a></li>
                            <li><a href='#'>Salsa</a></li>
                            <li><a href='#'>Zumba</a></li>
                         </ul>
                    </li>
                    <li><a href='#'>Shop Detail</a></li>
                    <li><a href='#'>Basket</a></li>
                    <li><a href='#'>Checkout</a></li>
                  </ul>
                </li>
                <li> <a href="/iletisim">Contact</a> </li>

              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>