{% load static %}


<header id="default_header" class="header_style_1">
  <!-- header top -->
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="full">
            <div class="topbar-left">
              <ul class="list-inline">
                <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">{{ setting.address }}</span> </li>
                <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="{{ setting.email }}">{{ setting.email }}</a></span> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 right_section_header_top">
          <div class="float-left">
            <div class="social_icon">
              <ul class="list-inline">
                <li class="social-icon fb"><a href="{{ setting.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="social-icon tw"><a href="{{ setting.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="social-icon gp"><a href="{{ setting.email }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a class="fa fa-instagram" href="{{ setting.instagram }}" title="Instagram" target="_blank"></a></li>
              </ul>
            </div>
          </div>
          <div class="float-right">
            <div class="make_appo"> <a class="btn white_btn" href="/shopcart/">My ShopCart</a> </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="/"><img src="\uploads\images\log.jpg" alt="logo" ></a> </div>
          <!-- logo end -->
        </div>


        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->

          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" href="/">Home</a>  </li>
                  {% load mptt_tags %}
                    {% recursetree category %}
                    <li><a href="{% url 'category_products' node.id node.slug %}">{{ node.title }}  <i class="fa fa-caret-down"></i></a href="{% url 'category_products' node.id node.slug %}">
                      {% if not node.is_leaf_node %}
                      <ul class="children">
                            <li><a href="#">{{ children }}</a></li>
                      </ul>
                      {% endif %}
                    </li>
                    {% endrecursetree %}
                <li><a href="/hakkimizda/">About Us</a></li>
                <li> <a href="/referanslar">References</a></li>
                <li> <a href="/iletisim">Contact</a> </li>
                  <li> {% if user.id is not None %} <a> {{ user.first_name }}  <i class="fa fa-caret-down"></i></a>
                         <ul>
                            <li><a href="/user/"><i class="fa fa-user-o"></i> My Account</a></li>
                            <li><a href="/user/favorits"><i class="fa fa-heart-o"></i> My Favorites</a></li>
                            <li><a href="/user/orders"><i class="fa fa-exchange"></i> My Orders </a></li>
                            <li><a href="/user/comments"><i class="fa fa-check"></i> My Comments </a></li>
                            <li><a href="/logout/"><i class="fa fa-unlock-alt"></i> Logout</a></li>
                        </ul>
                        {% else %}
                            <li><a href="/login/" class="text-uppercase">Login</a></li>
                             <li><a href="/signup/" class="text-uppercase">Signup</a></li>
                        {% endif %}
                    </li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>