{% extends "hakkimizdabase.html" %}

{% block title %} User Page - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block sidebar %} {% include "sidebar.html" %} {% endblock %}
{% include 'header.html' %}
{% block content %}
{% load static %}
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">User Page</h1>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Page</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1">
  <div class="container">

    <div class="row about_blog">
      <div class="col-lg-3 col-md-3 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
              <div class="main_heading text_align_left" align="left">
            {% include "user_panel.html" %}
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12 about_cont_blog">
        <div class="main_heading text_align_left" align="left">
            <h4>CONNECT INFORMATION</h4>
          <div class="full text_align_left" align="left">
          <table>

            <tbody>
              <tr>
                <td class="thumb"><img src="{{ profile.image.url }}" style="border-radius: 45px; height: 150px "><hr/></td>
                <th class="text-left" ></th>
                <hr/>

              </tr> <tr>
                            <th class="field_custom">
                                <a href="#" class="primary-btn"  style="border:groove">Update Profile</a>
                                <a href="#" class="primary-btn" style="border:groove">Change Password</a>
                            </th>

                        </tr>
              <tr>
                <td><h4>Name :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.user_name }}</h4><hr/></td>
              </tr>
              <tr>
                <td><h4>Email :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.user.email }}</h4><hr/></td>
              </tr>
              <tr>
                <td><h4>Phone :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.phone }}</h4><hr/></td>
              </tr>
              <tr>
                <td><h4>Addres :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.address }}</h4><hr/></td>
              </tr>
              <tr>
                <td><h4>City :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.city }}</h4><hr/></td>
              </tr>
              <tr>
                <td><h4>Country :</h4><hr/></td>
                <td class="text-left"><h4>{{ profile.country }}</h4><hr/></td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
        </div>
      </div>




  </div></div>

{% endblock %}