{% extends "hakkimizdabase.html" %}

{% block title %} User Comments - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block sidebar %} {% include "sidebar.html" %} {% endblock %}
{% include 'header.html' %}
{% block content %}
{% load static %}
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">User Comments</h1>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">User Comments</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1">
  {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
  <div class="container">

    <div class="row about_blog">
      <div class="col-lg-3 col-md-3 col-sm-12 about_cont_blog">
        <div class="full text_align_left">
              <div class="main_heading text_align_left" align="left">
            {% include "user_panel.html" %}
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12 about_cont_blog">
        <div class="main_heading text_align_left" align="left">
            <h4>USER ORDER LIST</h4>
          <div class="full text_align_left" align="left">
           <table class="table">
            <thead>
              <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Product</th>
                <th class="text-left">Subject</th>
                <th class="text-left">Comment</th>
                <th class="text-left">Status</th>
                <th class="text-left">Date</th>
                  <th class="text-left">Delete notification</th>
              </tr>
            </thead>
            <tbody>
            {% for rs in comments %}
              <tr>
                </td>
                <td class="text-left"><p class="price_table">{{ rs.id }}</p></td>
                <td class="text-left"><p class="price_table">{{ rs.product.title }}</p></td>
                <td class="text-left"><p class="price_table">{{ rs.subject }}</p></td>
                <td class="col-sm-3 col-md-3 text-left"><p class="price_table">{{ rs.comment }}</p></td>
                <td class="col-sm-1 col-md-1 text-left"><p class="price_table">{{ rs.status }}</p></td>
                <td class="col-sm-1 col-md-1 text-left"><p class="price_table">{{ rs.create_at }}</p></td>
                <td class="col-sm-1 col-md-1"><a href="#" onclick="return confirm('Delete! Are you sure?')" class="bt_main"><i class="fa fa-trash"></i></a></td>

              </tr>
            {% endfor %}

            </tbody>
          </table>

        </div>
          </div>
        </div>
      </div>




  </div></div>

{% endblock %}