{% extends "iletisimbase.html" %}

{% block title %} Shop Cart -  {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block sidebar %} {% include "sidebar.html" %} {% endblock %}

{% block content %}
{% load static %}
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Shop Cart Package List</h1>
              <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Shop Cart</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1 Shopping_cart_section">

  <div class="container">  {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                            {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="product-table">
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
            {% for rs in shopcart %}
              <tr>
                <td class="col-sm-3 col-md-2"><div class="media"> <a class="thumbnail pull-left" > <img class="media-object" src="{{ rs.product.image.url }}" alt="#" height="80" width="100"></a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="#">{{ rs.product }}</a></h4>
                  </div></div></td>

                </td>
                <td class="col-sm-1 col-md-1 text-center"><p class="price_table">{{ rs.quantity }}</p></td>
                <td class="col-sm-1 col-md-1 text-center"><p class="price_table">${{ rs.product.price }}</p></td>
                <td class="col-sm-1 col-md-1 text-center"><p class="price_table">${{ rs.amount }}</p></td>
                <td class="col-sm-1 col-md-1"><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete! Are you sure?')" class="bt_main"><i class="fa fa-trash"></i></a></td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
          <table class="table">
            <tbody>
              <tr class="cart-form">
                <td class="actions"><div class="coupon">
                    <input name="coupon_code" class="input-text" id="coupon_code" placeholder="Coupon code" type="text">
                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="shopping-cart-cart">
          <table>
            <tbody>
              <tr class="head-table">
                <td><h5>Cart Totals</h5></td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <td><h4>Subtotal</h4></td>
                <td class="text-right"><h4>${{ total }}</h4></td>
              </tr>
              <tr>
                <td><h5>Estimated shipping</h5></td>
                <td class="text-right"><h4>$0.00</h4></td>
              </tr>
              <tr>
                <td><h3>Total</h3></td>
                <td class="text-right"><h4>${{ total }}</h4></td>
              </tr>
              <tr>
                <td><button type="button" class="button">Continue Shopping</button></td>
                <td><button class="button"><a href="{% url 'orderproduct' %}">Checkout</a></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}